DATABASE_URL=mysql+pymysql://root:Sujith%402004@127.0.0.1:3306/project_excel
AUTO_CREATE_TABLES=false
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3010,http://127.0.0.1:3010
UPLOAD_DIR=uploads
EXPORT_DIR=exports
MAX_UPLOAD_MB=25
OCR_ENGINE=paddleocr
TROCR_MODEL_NAME=microsoft/trocr-base-handwritten
TROCR_LOCAL_FILES_ONLY=true
GOOGLE_SHEET_ID=1GDcPMfXC7gGDwhy9NYvEu0Q5rJvu7U8rL22iWdQqnaI
GOOGLE_SHEET_WORKSHEET=Sheet1
GOOGLE_SERVICE_ACCOUNT_FILE=./service-account.json
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_SERVICE_ACCOUNT_JSON=
GOOGLE_DRIVE_SHARE_WITH_LINK=true
